body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.add-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.add-page form{
  display: flex;
  flex-direction: column;
  width: 400px;
}
.add-page form input{
  margin: 5px;
}
.add-page form button{
  margin-top: 15px;
  margin-bottom: 15px;
}
.cars {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-page{
  display: flex;
  justify-content: space-between;
}
.pagination{
  display: flex;
  justify-content: center;
}
.pagination ul{
  display: flex;
  list-style-type: none;
}